.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
.nf-test.log
.nf-test/
.conda_envs/
.nextflow_home/
assets/databases/
assets/*.tar.gz
work_funcscan/
results_funcscan/
bacass_*.out
bacass_*.err
bacass_head_*.out
bacass_head_*.err
funcscan_*.out
funcscan_*.err
funcscan_head_*.out
funcscan_head_*.err
funcscan_samplesheet.csv
conf/lsf_shadow/
.unchecked_hash_applied
MisuseReport.txt
summary_MisuseReport.txt
hpc_admin_email*.txt
probe_*.out
probe_*.err
bgc_sideload_merge_*.out
bgc_sideload_merge_*.err
genomad_scan_*.out
genomad_scan_*.err
